body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .landing-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10px); /* Adjust this value based on header's height */
    width: 100vw;
    background-image: url('../assets/home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
  }
  
  .landing-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Adjust the color and opacity as needed */
    z-index: 1;
  }
  
  .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; /* Ensure text is visible on the background */
  }
  
  .myFont {
    font-size: 7.5em;
    font-weight: bold;
  }
  
  p {
    font-size: 2.2em;
    /* margin: 0.1em 0; */
  }
  
  .get-started-button {
    position: relative;
    z-index: 2;
    top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
  }
  
  .get-started-button:hover {
    background-color: #ff3b2f;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 2em;
    }
  
    p {
      font-size: 1em;
    }
  
    .get-started-button {
      font-size: 0.9em;
    }
  }
  