.user-page-container {
  position: relative;
  display: flex;
  height: calc(100vh - 10px); /* Adjust this value based on header's height */
  width: 100vw;
  background-image: url('../assets/home-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 40vh;
}

.user-list-container,
.add-task-container {
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8); /* Add slight transparency */
}

.user-list-container h2,
.add-task-container h2 {
  margin-top: 0;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: black
}

h2 {
  color: rgb(241, 133, 123);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
